:root {
    --gz-title: #ff9614;
    --gz-footer: #7c69a4;
    --gz-main-bg: #f6f5f3;
    --gz-desciption-bg: #f6f5f9;
    --gz-little-title: #4e3969;
    --gz-white: #ffffff;
    --gz-black: #050714;
    --gz-fb: #1c79f3;
    --gz-tw: #019eff;
    --gz-red-logo: #e62222;
}

/* #region utility */

/* #endregion utility */



body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--gz-main-bg);
}

.px-2 {
    padding: 0 1rem;
}

.d-flex {
    display: flex;
}

i {
    color: var(--gz-title);
}

.d-none {
    display: none;
}

#app_header {
    background-color: var(--gz-white);

    h1 {
        font-family: "Nerko One", cursive;
        color: var(--gz-title);
        text-align: center;
        text-shadow: 1px 0px 1px var(--gz-black);
        font-size: 2remrem;

    }
}

.unstyled-list {
    list-style: none;
}

.style-conteiner {
    box-shadow: 0px 0px 5px 2px grey;

}

.card-bg {
    background-color: var(--gz-white);
    box-shadow: 5px 5px 10px 0px #888888;
}

.card {

    display: flex;
    flex-wrap: wrap;
}

.conteiner-img {
    width: 100%;
}

#app_main {
    .category {
        margin-left: -2rem;
        font-size: .75rem;
        color: grey;
        padding-top: .5rem;
        padding-bottom: 1rem;
        line-height: 1.5rem;
        padding: 0 1rem;

        .surname {
            color: grey;
        }

        .name {
            color: var(--gz-little-title);
            font-weight: bold;
            font-size: 1.5rem;
        }
    }

    h2 {
        color: var(--gz-little-title);
        padding: 1rem 0;
    }

    .col-12 {
        .info {
            background-color: var(--gz-desciption-bg);
            padding: 1rem;
            margin: 1rem;
            font-size: .75rem;

            .kcal {
                color: var(--gz-white);
                padding: .5rem 0;
                margin-bottom: .5rem;

                span {
                    background-color: var(--gz-footer);
                    padding: 2px 5px;
                    border-radius: 5px;
                }

            }

            .particularity {
                padding-top: 1rem;

                i {
                    color: black;
                }
            }

            .preparation {
                ul {
                    display: inline;
                }
            }
        }

        .preparation {
            padding: 0 1rem;

            .unstyled-list {
                padding: 1rem 0;

                li {
                    padding: .5rem 0;
                    font-size: .75rem;
                }
            }
        }
    }

    .presentation {
        .conteiner {
            .story {
                font-weight: bold;
                font-size: 1.5rem;
                padding: .5rem 0;
            }

            hr {
                border: none;
                border-bottom: 2px solid var(--gz-title);
                width: 20%;
                margin-bottom: 1rem;
            }

            .img-dessert {
                width: 70%;
                margin: auto;
                margin-bottom: 1rem;
            }

            p {
                line-height: 1.75rem;
                font-size: 1rem;
            }
        }
    }
}

.social {
    padding: 1rem 0;

    .conteiner {
        justify-content: space-around;
    }

    .btn {
        width: 40px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--gz-white);
        border-radius: 100%;
        box-shadow: 5px 5px 10px 0px #888888;

        .fb {
            i {
                color: var(--gz-fb);
            }
        }

        .tweet {
            i {
                color: var(--gz-tw);
            }
        }

        .insta {
            i {
                color: pink;
            }
        }

        .pint {
            i {
                color: var(--gz-red-logo);
            }
        }

        .yt {
            i {
                color: var(--gz-red-logo);
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .d-inline-block {
        display: inline-block;
    }

    .f-left-md {
        float: left;
        ;
    }

    .d-inline-block-md {
        display: block;
    }

    #app_header {
        h1 {
            text-align: start;
            padding: 0 1rem;
        }
    }

    .video {
        .preparation {
            ul {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    .social {
        padding: 2rem 0;

        .btn-md {
            margin: 0 .5rem;
            width: 20%;
            height: 2rem;
            border-radius: 200px;
        }
    }

    #app_main {

        .presentation {
            .conteiner {
                .story {
                    font-weight: bold;
                    font-size: 1.5rem;
                    padding: .5rem 0;
                }

                hr {
                    border: none;
                    border-bottom: 2px solid var(--gz-title);
                    width: 20%;
                    margin-bottom: 1rem;
                }

                .img-dessert {
                    width: 50%;
                    margin-bottom: -.5rem;
                }

                p {
                    line-height: 1.75rem;
                    font-size: 1rem;
                }
            }
        }
    }
}

#app_footer {
    background-color: var(--gz-footer);
    div:first-child {
        font-weight: bold;
        color: var(--gz-white);
        text-align: center;
        font-size: .75rem;
        padding: .5rem 0;
    }
}



@media screen and (min-width: 1024px) {
    .conteiner-lg {
        width: 80%;
        margin: auto;
    }

    .conteiner-lg-img {
        width: calc(100% /12 *9)
    }

    #app_main {
        .category {
            .name {
                font-size: 2rem;
            }
        }

        .card {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
        }

        .preparation {
            display: block;

            ul {
                display: block;

                li {
                    width: 100%;
                }

            }
        }

        .social {
            a {
                text-decoration: none;
                font-weight: bold;
            }

            .btn-lg {
                display: inline-block;
            }
        }
    }

}